div#topnav {
    position: fixed;
    top: 0;
    width: 100%;
}

div#topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

div#topnav li#title {
    float: left;
    color: white;
    display: block;
    text-align: center;
    margin-left: 20px;
    padding: 14px 16px;
    text-decoration: none;
}

div#topnav li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid #bbb;
}

div#topnav li a.right {
    margin-right: 20px;
}

div#topnav li a.active {
    background-color: #4CAF50;
}

div#topnav li a:hover {
    background-color: #111;
}